<ion-list [inset]="true">
  <ion-item [button]="true">
    <ion-input label="Title"
               required="true"
               [(ngModel)]="note.title">
  </ion-input>
  </ion-item>
  <ion-item [button]="true">
    <ion-textarea rows="20"
                  class="note-content" 
                  label="Content" 
                  placeholder="Note content"
                  required="true"
                  [(ngModel)]="note.content">
    </ion-textarea>
  </ion-item>
</ion-list>
<ion-item>
  <ion-button style="margin: auto; margin-bottom: 20px;" 
              size="default" 
              shape="round" 
              color="primary"
              [disabled]="!note.title?.length || !note?.content?.length"
              (click)="saveNote()">
              Save
  </ion-button>
</ion-item>