ion-item {
    margin-top: 10px
}

.sign-up-btn {
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 10px
}

.other-login-options-row {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    .line {
        height: 1px; 
        background-color: rgb(95, 95, 95);
        width: 100%;
    }

    .other-login-options-text {
        width: 400px;
        text-align: center;
        color: rgb(95, 95, 95)
    }
}

.federated-login {
    display: flex;
    justify-content: center;
    align-items: center;

    >span {
        border: 1px solid rgb(164, 164, 164);
        cursor: pointer;
        margin: 8px;
        padding: 10px;
        img {
            width: 40px;
            height: 40px;
        }

        &:hover {
            border: 1px solid black
        }
    }
}
